:host {
    width: 100%;

    h1 {
        font-size: 1.1rem;
        margin: 1.1rem 0;
        color: var(--white);
        text-align: center;
    }

    .has-items {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        border-bottom: 0.125rem solid var(--black-010);
    }

    .remove-margin-bottom {
        margin-bottom: 0;
    }
}